* {
  box-sizing: border-box;
}
/* Body */
body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  background-color: #0e0e0e;
}

h1,
h2,
h3,
h4,
h5,
h6 { 
  margin: 0;
  color: white;
}

h3 {
  font-weight: 100;
  font-size: large;
  line-height: 1.5em;
}

p {
  margin: 0;
  color: white;
}

a {
  color: rgb(213 209 37);
  text-decoration: none;
}

a:hover {
  color: rgb(213 209 37);
  text-decoration: underline;
}

svg {
  position: fixed;
  z-index: -1;
  margin-left: 150px 
}

/* Header */
header {
  padding: 10px 10px 10px 0;
  background-color: #0e0e0ec7;
}

h1 {
  font-size: 4rem;
  color: white;
  text-wrap: nowrap;
  display: flex;
    align-items: baseline;
}

h1 span {
  font-size: 2rem;
  color: rgb(213 209 37);
  margin-left: 10px;
}

.navbar-brand {
  padding: 0 10px 0 50px;
  font-size: 2rem;
}

.navbar {
  align-items: stretch;
  display: flex;
  left: 0;
  min-height: 90px;
  right: 0;
  top: 0;
}

.navbar-collapse {
  justify-content: end;
}

.nav-link {
  color: rgb(213 209 37);
  cursor: pointer;
}

.nav-link:hover {
  color: rgb(213 209 37);
  text-decoration: underline;
}

/* About me */
.profile img {
  height: 270px;
  border-radius: 15px;
}

#skills .yellow {
  color: rgb(213 209 37);
}
/* Cards */
.card-container:hover {
  cursor: pointer;
}

.card {
  transform: translateY(0);
  transition: 1s;
}

.card:hover {
  transform: translateY(-20px);
}

.card-img-top {
  height: 300px;
}

.card-title {
  padding: 35px;
  text-align: center;
}

.card-title p {
  text-align: center;
}

.card-title h5 {
  margin-bottom: 10px;
}

.card-title a {
  /* display: flex;
  color: white;
  justify-content: center; */
}

/* Contact */
.page-section {
  display: flex;
  margin: 30px 0;
}

.page-section h2 {
  border-right: 4px solid #5fbba6;
  padding: 0 10px 0 0;
  margin-right: 40px;
  text-align: end;
  min-width: 125px;
}

.social-media {

}
.social-media a {
  color: rgb(213 209 37);
}